@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	font-size: 28px;
	color: #bfbfbf;
	color: #828283;
	font-family: 微软雅黑;
	}
input{
	border: none;
	width:30px;
	height: 33px;
	}
a{
	color: #ff7c13;
	cursor: pointer;
	text-decoration: none;
	}
a:visited{
	color: #ff7c13;
	cursor: pointer;
	text-decoration: underline;
}
body{
	background: black;
}


/* login.html */
#box{
	width: 640px;
	height: 40px;
	background: #000;
	line-height:30px;
	margin: 0 auto;
}
#top2{
	width: 640px;
	height: 70px;
	background: url(../images/top_bg.gif);
	margin: 0 auto;
	position: relative;
	}
#top2 img{
	position:absolute;
	}
#top2 .zhuce{
	display: block;
	width: 105px;
	height: 70px;
	/* border: 1px solid blue; */
	position: absolute;
	left: 535px;
	background: url(../images/zhuce.gif);
	}
#banner{
	width: 640px;
	height: 275px;
	background: url(../images/banner.gif);
	margin: 0 auto;
	}
#main{
	width: 640px;
	height: 507px;
	margin: 0 auto;
	background: #f4f0e7;
	position: relative;
	}
#main .username{
	width: 526px;
	height: 90px;
	background: url(../images/username.gif);
	text-indent: 100px;
	position: absolute;
	top: 33px;
	left: 57px;
	}
#main .username input{
	width: 448px;
	height: 90px;
	line-height: 90px;
	background: url(../images/username.gif) no-repeat -67px 0px;
	position: absolute;
	left: 67px;
}
#main .password{
	width: 526px;
	height: 90px;
	background: url(../images/password.gif);
	text-indent: 100px;
	position: absolute;
	top: 139px;
	left: 57px;
	}
#main .password input{
	width: 448px;
	height: 90px;
	line-height: 90px;
	background: url(../images/username.gif) no-repeat -67px 0px;
	position: absolute;
	left: 67px;
}
#main #wangjimima{
	width: 530px;
	height: 36px;
	position: absolute;
	top: 260px;
	left: 57px;
}
#main #wangjimima .jizhumima{
	position: relative;
	top: 2px;
	left: 58px;
	color: #1a1a1a;
}
#main #wangjimima .fuxuankuang{
	width: 30px;
	height: 31px;
	/*border: 5px solid blue;*/
	position: absolute;
	top: 7px;
	background: url(../images/qita.png);
	}
#main #wangjimima .fuxuankuang2{
	width: 30px;
	height: 31px;
	/*border: 5px solid blue;*/
	position: absolute;
	top: 7px;
	background: url(../images/qita.png) no-repeat 0px -34px;
	display: none;
	}
#main #wangjimima .mima{
	position: absolute;
	left: 410px;
	top: 2px;
	}
.login{
	width: 526px;
	height: 89px;
	display: block;
	background: url(../images/login.gif);
	position: relative;
	left: 57px;
	top: 375px;
	}
#bottom{
	width: 640px;
	height: 68px;
	background: url(../images/login_qita.gif);
	margin: 0 auto;
	position: relative;
	}
#bottom .qq{
	width: 49px;
	height: 49px;
	/*background: blue;*/
	position: absolute;
	left: 313px;
	top: 9px;
}
/* login.html结束 */
/*login_qq.html*/
#top2 .fanhui{
	display: block;
	width: 51px;
	height: 39px;
	background: url(../images/small_con.png) no-repeat 0px 0px;
	position: absolute;
	left: 571px;
	top: 16px;
}
#lq_ct{
	width: 640px;
	height: 850px;
	background: url(../images/login_qq.gif);
	margin: 0 auto;
}
/*login_qq.html结束*/
/*look_for_password_email*/
#top2 .zhaohuimima{
	background: url(../images/wenzi.png) no-repeat 0px -288px;
}
#main2 {
	width: 640px;
	height: 850px;
	margin: 0 auto;
	background: #f4f0e7;
	position: relative;
	}
#main2 .phone{
	width: 526px;
	height: 90px;
	background: url(../images/look_for_password.png);
	position: absolute;
	left: 57px;
	top: 40px;
}
#main2 .phone input{
	width: 395px;
	height: 90px;
	position: absolute;
	left: 125px;
	background: url(../images/text.gif) no-repeat right top;
	padding-right: 10px;
}
#main2 .send_email{
	width: 524px;
	height: 85px;
	background: url(../images/look_for_password.png) no-repeat 0px -109px;
	position: absolute;
	left: 58px;
	top: 178px;
}
/*look_for_password_email结束*/
/*look_for_password_yzm.html*/
#con{
	width: 640px;
	height: 850px;
	background: #f4f0e7;
	margin: 0 auto;
	position: relative;
}
#con .p2{
	width: 539px;
	text-indent: 2em;
	position: absolute;
	left: 50px;
	top: 47px;
	font-size: 24px;
}
#con .p1{
	width: 104px;
	position: absolute;
	left: 160px;
	top: 223px;
	color: #565353;
	font-size: 32px;
	/*border: 1px solid blue;*/
}
#con .p3{
	width: 184px;
	height: 53px;
	background: url(../images/text.png) no-repeat 0px -120px;
	position: absolute;
	left: 288px;
	top: 220px;
	padding: 0px 10px;
	text-align: center;

}
#con .queren{
	display: block;
	width: 524px;
	height: 85px;
	background: url(../images/querenanniu.gif);
	position: absolute;
	top: 362px;
	left: 60px;

}
#index_top2 .phone_check{
	width: 296px;
	height: 35px;
	background: url(../images/wenzi.png) no-repeat 0px -363px;
	position: absolute;
	left: 176px;
	top: 20px;
}
/*look_for_password_yzm.html结束*/
/*look_for_password_phone_success.html*/
#index_top2 .edit_password{
	background: url(../images/wenzi.png) no-repeat 0px -398px;
}
#con .text{
	font-size: 24px;
	color: #565353;
	/*border: 1px solid blue;*/
	position: absolute;
	left: 62px;
	top: 42px;
}
#con .edit_user{
	width: 520px;
	height: 90px;
	background: url(../images/zhanghao_mima.png);
	position: absolute;
	left: 57px;
	top: 148px;
	line-height: 90px;
	padding-left: 6px;
}
#con .edit_user label{
	position: absolute;
	left: 35px;
}
#con .edit_user input{
	width: 376px; 
	height: 90px;
	background: url(../images/changhao_mima.png) no-repeat -121px 0px;
	position: absolute;
	left: 140px;
	padding-right: 10px;
}
#con .edit_mima{
	width: 520px;
	height: 90px;
	background: url(../images/zhanghao_mima.png);
	position: absolute;
	left: 57px;
	top: 255px;
	line-height: 90px;
	padding-left: 6px;
}
#con .edit_mima input{
	width: 376px; 
	height: 90px;
	background: url(../images/changhao_mima.png) no-repeat -121px 0px;
	position: absolute;
	left: 140px;
	padding-right: 10px;
}
#con .xiugaimima{
	width: 524px;
	height: 85px;
	background: url(../images/xiugaimima.png);
	position: absolute;
	left: 58px;
	top: 430px;
}
/*look_for_password_phone_success.html结束*/
/*look_for_password*/
#main2 .yzm{
	width: 526px;
	height: 90px;
	background: url(../images/yzm.gif);
	position: relative;
	left: 57px;
	top: 40px;
}
#main2 .yzm input{
	width: 396px;
	height: 90px;
	position: absolute;
	left: 130px;
	background: url(../images/text.gif) no-repeat right top;
}
#main2 .xinmima{
	width: 526px;
	height: 90px;
	position: absolute;
	left: 57px;
	top: 157px;
	background: url(../images/xinmima.gif);
}
#main2 .xinmima input{
	width: 396px;
	height: 90px;
	position: absolute;
	left: 130px;
	background: url(../images/text.gif) no-repeat right top;
}
#main2 .xiugai_mima{
	background: url(../images/xiugai_mima.gif);
	width: 524px;
	height: 85px;
	position: absolute;
	left: 58px;
	top: 346px;
}
/*look_for_password结束*/
/*index.html*/
#index_top2{
	width: 640px;
	height: 70px;
	background: url(../images/top_bg.gif);
	margin: 0 auto;
	position: relative;
	border-bottom: 1px solid white;
	}
#index_top2 .suoyou{
	display: block;
	width: 39px;
	height: 32px;
	background: url(../images/shouye.png) no-repeat -20px -433px;
	position: absolute;
	left: 20px;
	top: 19px;
	/*background: blue;*/
}
#index_top2 .suoyouxinxi{
	display: block;
	width: 242px;
	height: 710px;
	background: url(../images/shouye.png) no-repeat -214px -657px;
	position: absolute;
	left: 7px;
	z-index: 1;
	display: none;
	cursor: pointer;
}
#index_top2 .suoyouxinxi_sy{
	width: 238px;
	height: 419px;
	background: url(../images/suoyouxinxi1.png);
	position: absolute;
	left: 10px;
	top: 56px;
	z-index: 1;
	display: none;
	/*background: blue;*/
}
#index_top2 .suoyouxinxi_sy2{
	width: 238px;
	height: 419px;
	background: url(../images/suoyouxinxi2.png);
	position: absolute;
	left: 10px;
	top: 56px;
	z-index: 1;
	display: none;
	/*background: blue;*/
}
#index_top2 .suoyouxinxi_sy3{
	width: 238px;
	height: 419px;
	background: url(../images/suoyouxinxi3.png);
	position: absolute;
	left: 10px;
	top: 56px;
	z-index: 1;
	display: none;
	/*background: blue;*/
}
#index_top2 .suoyouxinxi_sy4{
	width: 238px;
	height: 419px;
	background: url(../images/suoyouxinxi4.png);
	position: absolute;
	left: 10px;
	top: 56px;
	z-index: 1;
	display: none;
	/*background: blue;*/
}
.all_xinxi{
	width: 230px;
	height: 96px;
	line-height: 96px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 8px;
	text-align: center;
}
.sy_leshi{
	width: 230px;
	height: 103px;
	line-height: 103px;
	/*background: pink;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 104px;
	text-indent: 30px;
	color: #ddd;

}
.sy_huati{
	width: 230px;
	height: 103px;
	line-height: 103px;
	text-indent: 30px;
	color: #ddd;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 207px;
}
.sy_lexun{
	width: 230px;
	height: 102px;
	line-height: 102px;
	text-indent: 30px;
	color: #ddd;
	/*background: gray;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 310px;
}
#index_top2 .suoyouxinxi .s_lexun{
	display: block;
	width: 232px;
	height: 110px;
	background: url(../images/shouye.png) no-repeat -495px -1022px;
	position: absolute;
	left: 6px;
	top: 365px;
}
#index_top2 .search{
	width: 81px;
	height: 70px;
	background: url(../images/shouye_gongneng.gif) no-repeat -92px 0px;
	position: absolute;
	left: 92px;
}
#top2 .all{
	display: block;
	width: 40px;
	height: 32px;
	background: url(../images/shouye.png) no-repeat 0px -164px;
	position: absolute;
	left: 41px;
	top: 19px;
}
#pindao{
	width: 640px;
	height: 64px;
	margin: 0 auto;
	background: #ece8da;
	position: relative;
}
#pindao .gn{
	width: 640px;
	height: 64px;
	background: url(../images/shouye.png);
}
#pindao .all_gn{
	display: block;
	width: 155px;
	height: 44px;
	background: url(../images/shouye.png) no-repeat -76px -10px;
	position: absolute;
	left: 76px;
	top: 10px;
}
#pindao .all_bg{
	display: block;
	width: 162px;
	height: 447px;
	background: url(../images/shouye.png) no-repeat 0px -485px;
	position: absolute;
	left: 73px;
	z-index: 1;
	display: none;
}
#neirong{
	width: 640px;
	height: 706px;
	background: #f8f7ee;
	margin: 0 auto;
	background: url(../images/neirong.gif);
	position: relative;
}
#shouye_bottom{
	width: 640px;
	height: 79px;
	margin: 0 auto;
	background: url(../images/shouye.png) no-repeat 0px -321px;
	/*border: 1px solid blue;*/
	position: relative;
}
#shouye_bottom .s_sy{
	width: 102px;
	height: 79px;
	display: block;
	position: absolute;
	left: 0px;
	/*background: blue;*/
}
#shouye_bottom .friend{
	width: 102px;
	height: 79px;
	display: block;
	position: absolute;
	left: 212px;
}
#shouye_bottom .shoucang_anniu{
	width: 102px;
	height: 79px;
	display: block;
	position: absolute;
	left: 315px;
	background: url(../images/more_open.png) no-repeat 0px -104px;
}
#shouye_bottom .s_quanzi{
	width: 102px;
	height: 79px;
	display: block;
	position: absolute;
	left: 317px;
}
/*更多*/
#shouye_bottom .more_yuan{
	width: 108px;
	height: 79px;
	background: url(../images/shouye.png) no-repeat -419px -321px;
	position: absolute;
	left: 419px;
}
#shouye_bottom .more{
	width: 108px;
	height: 79px;
	background: url(../images/shouye.png) no-repeat -633px -657px;
	position: absolute;
	left: 419px;
	display: none;
}
#shouye_bottom .more_gn{
	width: 536px;
	height: 107px;
	display: block;
	background: url(../images/shouye.png) no-repeat -214px -550px;
	position: absolute;
	top: -109px;
	display: none;
}
#shouye_bottom .more_gn .renwu{
	display: block;
	/*background: blue;*/
	width: 106px;
	height: 94px;
	position: absolute;
	left: 3px;
	top: 3px;
}
#shouye_bottom .more_gn .guangchang{
	display: block;
	/*background: blue;*/
	width: 106px;
	height: 94px;
	position: absolute;
	left: 109px;
	top: 3px;
}
#shouye_bottom .more_gn .shoucang{
	display: block;
	/*background: blue;*/
	width: 106px;
	height: 94px;
	position: absolute;
	left: 215px;
	top: 3px;
}
#shouye_bottom .more_gn .more_quanzi{
	display: block;
	background: url(../images/more_open.png) no-repeat 0px -388px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 215px;
	top: 3px;
}
#shouye_bottom .more_gn .gerenziliao{
	display: block;
	/*background: blue;*/
	width: 106px;
	height: 94px;
	position: absolute;
	left: 321px;
	top: 3px;
}
#shouye_bottom .more_gn .xitong_shezhi{
	display: block;
	/*background: blue;*/
	width: 106px;
	height: 94px;
	position: absolute;
	left: 427px;
	top: 3px;
}
#shouye_bottom .more_gn2{
	width: 536px;
	height: 107px;
	display: block;
	background: url(../images/more_open.png) no-repeat 0px -280px;
	position: absolute;
	top: -109px;
	display: none;
}
#shouye_bottom .more_gn2 .renwu2{
	display: block;
	background: url(../images/more_open.png) no-repeat 0px -186px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 3px;
	top: 3px;
}
#shouye_bottom .more_gn2 .guangchang2{
	display: block;
	background: url(../images/more_open.png) no-repeat -106px -186px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 109px;
	top: 3px;
}
#shouye_bottom .more_gn2 .more_quanzi2{
	display: block;
	background: url(../images/more_open.png) no-repeat -212px -186px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 215px;
	top: 3px;
}
#shouye_bottom .more_gn2 .gerenziliao2{
	display: block;
	background: url(../images/more_open.png) no-repeat -318px -186px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 321px;
	top: 3px;
}
#shouye_bottom .more_gn2 .xitong_shezhi2{
	display: block;
	background: url(../images/more_open.png) no-repeat -424px -186px;
	width: 106px;
	height: 94px;
	position: absolute;
	left: 427px;
	top: 3px;
}
/*更多*/
#shouye_bottom .youxia{
	width: 110px;
	height: 89px;
	background: url(../images/shouye.png) no-repeat -530px -304px;
	position: absolute;
	left: 530px;
	top: -17px;
}
#shouye_bottom .youxia2{
	width: 110px;
	height: 89px;
	background: url(../images/shouye.png) no-repeat -530px -304px;
	position: absolute;
	left: 530px;
	top: -17px;
	z-index: 1;
	cursor: pointer;
	display: none;
}
#shouye_bottom .wodequanzi{
	width: 425px;
	height: 399px;
	background: url(../images/wodequanzi.png);
	position: absolute;
	left: 206px;
	top: -399px;
	display: none;
}
#shouye_bottom .wodequanzi .new_shenfen{
	width: 135px;
	height: 42px;
	display: block;
	position: absolute;
	left: 275px;
	top: 10px;
	background: url(../images/wodequanzi.png) no-repeat -290px -408px;
}
/*index.html结束*/
/*xiaoxi.html*/
#index_top2 .xiaoxi{
	color: white;
	position: absolute;
	left: 288px;
	top: 20px;
	background: url(../images/wenzi.png) no-repeat 0px -327px;
}
#xiaoxi_content{
	width: 640px;
	height: 771px;
	background: url(../images/xiaoxi.gif);
	margin: 0 auto;
}
#shouye_bottom .xiaoxi_an{
	width: 102px;
	height: 79px;
	background: url(../images/qita.png) no-repeat -98px 0px;
	position: absolute;
	left: 102px;
}
#shouye_bottom  .xiaoxi_an2{
	width: 102px;
	height: 79px;
	/*background: url(../images/qita.png) no-repeat -98px 0px;*/
	position: absolute;
	left: 102px;
}
/*xiaoxi.html结束*/
/*join.html*/
#top2 .join{
	display: block;
	width: 92px;
	height: 58px;
	background: url(../images/join.png);
	position: absolute;
	left: 536px;
	top: 6px;
}
#top2 p{
	width: 129px;
	height: 35px;
	background: url(../images/wenzi.png) no-repeat 0px -250px;
	position: absolute;
	left: 256px;
	top: 19px;
}
#top2 .c_fanhui{
	width: 91px;
	height: 58px;
	background: url(../images/qita.png) no-repeat -109px -80px;
	position: absolute;
	left: 420px;
	top: 6px;
}
#join_bottom{
	width: 640px;
	height: 850px;
	background: #f4f0e7;
	margin: 0 auto;
	position: relative;
}
#join_bottom .youxiang,#join_bottom .zhanghao,#join_bottom .mima{
	width: 526px;
	height: 90px;
	/*background: blue;*/
}
#join_bottom .youxiang{
	background: url(../images/join.png) no-repeat 0px -69px;
	position: absolute;
	left: 57px;
	top: 40px;
}
#join_bottom input{
	width: 397px;
	height: 90px;
	line-height: 90px;
	background: url(../images/join.png) no-repeat -118px -69px;
	position: absolute;
	left: 118px;
}
#join_bottom .zhanghao{
	background: url(../images/join.png) no-repeat 0px -166px;
	position: absolute;
	left: 57px;
	top: 148px;
}
#join_bottom .mima{
	background: url(../images/join.png) no-repeat 0px -260px;
	position: absolute;
	left: 57px;
	top: 255px;
}
/*join.html结束*/
/*sosuo_xinxi.html*/
#sosuo_xinxi{
	width: 640px;
	height: 64px;
	background: url(../images/sosuo_xinxi.gif);
	margin: 0 auto;
	position: relative;
	display: none;
}
#sosuo_xinxi .sosuoxinxi{
	width: 475px;
	height: 66px;
	background: url(../images/sosuo_xinxi.gif) no-repeat -81px 0px;
	position: absolute;
	left: 81px;
	line-height: 66px;
}
#sosuo_xinxi .sosuo_close{
	width: 42px;
	height: 41px;
	display: block;
	/*background: blue;*/
	position: absolute;
	left: 584px;
	top: 12px;
	}
#sosuo_xinxi_content{
	width: 640px;
	height: 704px;
	background: url(../images/sosuo_xinxi_content.gif);
	margin: 0 auto;
	/*border: 1px solid blue;*/
}

/*sosuo_xinxi.html结束*/
/*leshi.html*/
.leshi_leshi{
	width: 230px;
	height: 103px;
	line-height: 103px;
	/*background: pink;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 104px;
	text-indent: 30px;
	color: #ee8805;
}
#index_top2 .suoyouxinxi_sy .leshi_leshi:visited{
	color: #ff7c13;
}
#leshi_content{
	width: 640px;
	height: 706px;
	background: url(../images/leshi_ban.gif);
	margin: 0 auto;
	position: relative;
}
#leshi_content .leshi_one{
	width: 527px;
	height: 288px;
	/*background: blue;*/
	position: absolute;
	left: 113px;
	top: 11px;
}
/*leshi.html结束*/
/*lexun.html*/
#pindao .lexun{
	width: 640px;
	height: 64px;
	background: url(../images/lexun.gif);
}
#index_top2 .suoyouxinxi_sy .lexun_all{
	width: 230px;
	height: 96px;
	line-height: 96px;
	color: #ddd;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 8px;
	text-align: center;
}
#index_top2 .suoyouxinxi_sy .lexun_lexun{
	width: 230px;
	height: 102px;
	line-height: 102px;
	text-indent: 30px;
	color: #ee8805;
	/*background: gray;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 310px;
}
#index_top2 .suoyouxinxi_sy .lexun_lexun:visited{
	color: #ff7c13;
}
#index_top2 .mulu{
	width: 42px;
	height: 38px;
	display: block;
	position: absolute;
	left: 578px;
	top: 16px;
}
#index_top2 .mulu_go{
	width: 199px;
	height: 373px;
	background: url(../images/mulu.png);
	position: absolute;
	left: 436px;
	z-index: 1;
	display: none;
	cursor: pointer;
}
#index_top2 .lexun_fabu{
	width: 193px;
	height: 104px;
	background: url(../images/mulu.png) no-repeat -3px -577px;
	display: block;
	position: absolute;
	left: 3px;
	top: 263px;
}
#index_top2 .mulu_go .fabuleshi{
	display: block;
	width: 193px;
	height: 95px;
	background: url(../images/mulu.png) no-repeat -3px -373px;
	position: absolute;
	z-index: 2;
	left: 3px;
	top: 64px;
}
#index_top2 .mulu_go .huati{
	width: 193px;
	height: 104px;
	display: block;
	background: url(../images/mulu.png) no-repeat -3px -470px;
	position: absolute;
	left: 3px;
	top: 159px;
}
#neirong .lexun_{
	width: 535px;
	height: 159px;
	position: absolute;
	left: 105px;
	cursor: pointer;
	/*background: orange;*/
}
#neirong .leshi_ct{
	width: 535px;
	height: 300px;
	/*background: blue;*/
	position: absolute;
	left: 105px;
	top: 163px;
}
#lexun_ban{
	width: 640px;
	height: 706px;
	background: url(../images/lexun_ban.gif);
	margin: 0 auto;
	position: relative;
}
#lexun_ban .lexun_one{
	width: 528px;
	height: 226px;
	/*background: blue;*/
	position: absolute;
	left: 112px;
	top: 14px;
}
/*lexun.html结束*/
/*leshi_fabu.html*/
#index_top2 .back{
	width: 50px;
	height: 38px;
	background: url(../images/small_con.png);
	display: block;
	position: absolute;
	left: 27px;
	top: 16px;
}
#index_top2 p{
	display: block;
	width: 128px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat 0px -69px;
	position: absolute;
	left: 256px;
	top: 20px;
}
#index_top2 .wancheng{
	display: block;
	width: 92px;
	height: 57px;
	background: url(../images/small_con.png) no-repeat -108px 0px;
	position: absolute;
	left: 535px;
	top: 6px;
}
#leshi_fabu{
	width: 640px;
	height: 850px;
	background: url(../images/leshi_fabu.jpg);
	margin: 0 auto;
}
/*leshi_fabu.html结束*/
/*huati.html*/
#huati_content{
	width: 640px;
	height: 706px;
	background: url(../images/huati_ban.gif);
	margin: 0 auto;
	position:relative;
}
#huati_content .huati_one{
	width: 529px;
	height: 115px;
	/*background: blue;*/
	position: absolute;
	left: 111px;
	top: 8px;
}
/*huati.html结束*/
/*huati_fabu.html*/
#index_top2 .fabuhuati{
	width: 129px;
	height: 34px;
	display: block;
	background: url(../images/small_con.png) no-repeat 0px -108px;
}
#huati_fabu{
	width: 640px;
	height: 849px;
	background: url(../images/huati_fabu.jpg);
	margin: 0 auto;
}
#index_top2 .suoyouxinxi_sy .huati_huati{
	width: 230px;
	height: 103px;
	line-height: 103px;
	text-indent: 30px;
	color: #ee8805;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 3px;
	top: 207px;
}
#index_top2 .suoyouxinxi_sy .huati_huati:visited{
	color: #ff7c13;
}
/*huati_fabu.html结束*/
/*lexun_fabu.html*/
#index_top2 .fabulexun{
	width: 129px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat 0px -146px;
}
#lexun_content{
	width: 640px;
	height: 850px;
	background: url(../images/lexun_fabu.gif);
	margin: 0 auto;
	position: relative;
}
#lexun_content .for_tanchuceng{
	width: 334px;
	height: 433px;
	background: url(../images/fabulexun_tanchuceng.png);
	position: absolute;
	left: 288px;
	top: 230px;
	display: none;
	cursor: pointer;
}
#lexun_content .for_tanchuceng input{
	width: 253px;
	height: 45px;
	background: url(../images/qita.png) no-repeat 0px -139px;
	position: absolute;
	left: 16px;
	top: 345px;
}
#lexun_content .for_tanchuceng .ok{
	width: 51px;
	height: 45px;
	position: absolute;
	left: 272px;
	top: 345px;
}
#lexun_content .shangjia_name{
	width: 390px;
	height: 47px;
	background: url(../images/fabulexun_text.gif);
	position: absolute;
	left: 147px;
	top: 656px;
	padding: 0px 10px;
}
#lexun_content .shangjia_more{
	width: 58px;
	height: 47px;
	background: url(../images/shangjia_more.gif);
	position: absolute;
	left: 557px;
	top: 656px;
}
#lexun_content .weizhi{
	width: 418px;
	height: 48px;
	background: url(../images/text2.gif);
	position: absolute;
	left: 147px;
	top: 752px;
	padding: 0px 10px;
	color: #aaa;
	color: 24px;
}
/*lexun_fabu.html结束*/
/*lexun_detail.html*/
#index_top2 .lexun_detail{
	width: 129px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat 0px -181px;
}
#lexun_neirong{
	width: 640px;
	height: 849px;
	background: url(../images/lexun_neirong.jpg);
	margin: 0 auto;
	position: relative;
}
#lexun_neirong .qiandao{
	width: 131px;
	height: 63px;
	background: url(../images/small_con.png) no-repeat 0px -215px;
	position: absolute;
	left: 478px;
	top: 90px;
}
/*lexun_detail.html结束*/
/*lexun_qiandao_pinglun.html*/
#lexun_detail_pinglun{
	width: 640px;
	height: 850px;
	background: url(../images/lexun_detail_pinglun.gif);
	margin: 0 auto;
	position: relative;
}
#lexun_detail_pinglun a{
	display: block;
	/*background: blue;*/
	width: 44px;
	height: 23px;
	position: absolute;
	left: 253px;
	top: 359px;
}
#index_top2 .lexun_qiandao{
	background: url(../images/wenzi.png) no-repeat 0px -213px;
}
/*lexun_qiandao_pinglun.html结束*/
/*lexun_qiandao.html*/
#lexun_neirong .qd{
	width: 546px;
	height: 601px;
	background: url(../images/lexun_qiandao_success.png);
	position: absolute;
	left: 53px;
	top: 81px;
	z-index: 1;
}
#lexun_neirong .qd a{
	width: 34px;
	height: 37px;
	background: url(../images/small_con.png) no-repeat -153px -107px;
	display: block;
	position: absolute;
	left: 473px;
	top: 28px;
}
#index_top2 .logo{
	width: 104px;
	height: 58px;
	background: url(../images/small_con.png) no-repeat 0px -284px;
	position: absolute;
	left: 10px;
	top: 7px;
}
#index_top2 .fanhui{
	display: block;
	width: 51px;
	height: 39px;
	background: url(../images/small_con.png) no-repeat 0px 0px;
	position: absolute;
	left: 571px;
	top: 16px;
}
/*lexun_qiandao.html结束*/
/*new_shenfen.html*/
#new_shenfen_content{
	width: 640px;
	height: 849px;
	background: url(../images/new_shenfen.gif);
	margin: 0 auto;
}
#index_top2 .new_shenfen{
	display: block;
	width: 129px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat 0px -349px;
}
/*new_shenfenl.html结束*/
/*wodehaoyou.html*/
#index_top2 .wodehaoyou{
	background: url(../images/small_con.png) no-repeat 0px -716px;
}
#sosuo_haoyou{
	width: 640px;
	height: 66px;
	background: url(../images/sosuo_xinxi.gif);
	margin: 0 auto;
	position: relative;
}
#sosuo_haoyou .sosuoxinxi{
	width: 475px;
	height: 66px;
	background: url(../images/text.png) no-repeat -81px 0px;
	position: absolute;
	left: 81px;
	line-height: 66px;
}
#wodehaoyou{
	width: 640px;
	height: 705px;
	background: url(../images/wodehaoyou.gif);
	margin: 0 auto;
	position: relative;
}
#wodehaoyou .sweet{
	display: block;
	width: 640px;
	height: 100px;
	/*background: orange;*/
	position: absolute;
	top: 502px;
}
/*wodehaoyou.html结束*/
/*wodehaoyou_detail.html*/
#wdhy{
	width: 640px;
	height: 77px;
	margin: 0 auto;
	background: url(../images/wodehaoyou_top.gif);
	position: relative;
	}
#wodehaoyou_ct{
	width: 640px;
	height: 843px;
	margin: 0 auto;
	background: url(../images/wodehaoyou_ct.gif);
}
#wdhy .wdhy_fk{
	width: 78px;
	height: 70px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 7px;
}
#index_top2 .wodequanzi{
	display: block;
	width: 128px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat 0px -383px;
	position: absolute;
	left: 256px;
	top: 20px;
}
/*wodehaoyou_detail.html结束*/
/*wodequanzi.html*/
#index_top2 .wodequanzi_all{
	width: 245px;
	height: 213px;
	background: url(../images/wodequanzi_all.png);
	position: absolute;
	z-index: 1;
	left: 12px;
	top: 56px;
	display: none;
}
#wodehaoyou_ct2{
	width: 640px;
	height: 704px;
	background: url(../images/wodequanzi_ct.gif);
	margin: 0 auto;
	position: relative;
}
#wodehaoyou_ct2 .quanzi_join{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 330px;
	top: 104px;
}
#wodehaoyou_ct2 .create{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 435px;
	top: 104px;
}
#wodehaoyou_ct2 .new_create{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 539px;
	top: 104px;
}
#wodehaoyou_ct2 .guanyu{
	width: 640px;
	height: 101px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 0px;
	top: 281px;
}
#shouye_bottom .index{
	width: 102px;
	height: 79px;
	background: url(../images/small_con.png) no-repeat 0 -421px;
	display: block;
	position: absolute;
}
#shouye_bottom .quanzi{
	width: 102px;
	height: 79px;
	background: url(../images/small_con.png) no-repeat -105px -421px;
	display: block;
	position: absolute;
	left: 317px;
}
#shouye_bottom .friend2{
	width: 102px;
	height: 79px;
	display: block;
	position: absolute;
	left: 212px;
	background: url(../images/small_con.png) no-repeat -211px -421px;
}
/*wodequanzi.html结束*/
/*wodequanzi_create.html*/
#wodequanzi_create{
	width: 640px;
	height: 704px;
	background: url(../images/wodequanzi_create.gif);
	margin: 0 auto;
	position: relative;
}
#wodequanzi_create .quanzi_join{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 330px;
	top: 104px;
}
#wodequanzi_create .create{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 435px;
	top: 104px;
}
#wodequanzi_create .new_create{
	width: 96px;
	height: 88px;
	/*background: blue;*/
	position: absolute;
	left: 539px;
	top: 104px;
}
#wodequanzi_create .shezhi{
	width: 36px;
	height: 34px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 446px;
	top: 318px;
}
#wodequanzi_create .guanyu{
	width: 640px;
	height: 101px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 0px;
	top: 281px;
}
/*wodequanzi_create.html结束*/
/*wodequanzi_power.html*/
#index_top2 .wodequanzi_power{
	width: 194px;
	height: 33px;
	background: url(../images/small_con.png) no-repeat -106px -315px;
	position: absolute;
	left: 224px;
}
/*wodequanzi_power.html结束*/
/*wodequanzi_new_create.html*/
#index_top2 .home{
	width: 50px;
	height: 42px;
	background: url(../images/small_con.png) no-repeat -250px -76px;
	position: absolute;
	left: 20px;
	top: 14px;
}
#wodequanzi_new{
	width: 640px;
	height: 849px;
	background: url(../images/wodequanzi_new.gif);
	margin: 0 auto;
}
/*wodequanzi_new_create.html结束*/
/*wodequanzi_guanyu.html*/
#index_top2 .guanyuquanzi{
	background: url(../images/small_con.png) no-repeat -172px -160px;
}
#wodequanzi_guanyu{
	width: 640px;
	height: 849px;
	background: url(../images/wodequanzi_guanyu.gif);
	margin: 0 auto;
}
/*wodequanzi_guanyu.html结束*/
/*leshi_zhengwen.html*/
#index_top2 .leshi_zhengwen{
	background: url(../images/small_con.png) no-repeat -171px -384px;
}
#leshi_ct{
	width: 640px;
	height: 764px;
	background: url(../images/leshi_zhengwen.gif);
	margin: 0 auto;
}
#leshi_ct_gn{
	width: 640px;
	height: 86px;
	background: url(../images/leshi_zhengwen.gif) no-repeat 0px -772px;
	margin: 0 auto;
}
/*leshi_zhengwen.html结束*/
/*huati_detail.html*/
#index_top2 .huati_bt{
	width: 131px;
	height: 34px;
	background: url(../images/small_con.png) no-repeat -169px -350px;
	z-index: 0;
}
#huati_detail{
	width: 640px;
	height: 850px;
	background: url(../images/huati_detail.gif);
	margin: 0 auto;
	position: relative;
}
#huati_detail .pinglun{
	width: 108px;
	height: 77px;
	/*background: blue;*/
	display: block;
	position: absolute;
	left: 143px;
	top: 771px;
}
#index_top2 .mulu{
	width: 83px;
	height: 70px;
	display: block;
	position: absolute;
	left: 557px;
	background: url(../images/small_con.png) no-repeat -217px 0px;
	top: 0px;
}
#neirong .huati_ct{
	display: block;
	width: 535px;
	height: 225px;
	/*background: gray;*/
	position: absolute;
	left: 105px;
	top: 470px;
}
/*huati_detail.html结束*/
/*huati_pinglun.html*/
#huati_pinglun{
	width: 640px;
	height: 850px;
	background: url(../images/huati_pinglun.gif);
	margin: 0 auto;
}
/*huati_pinglun.html结束*/
/*woderenwu.html*/
#index_top2 .renwudating{
	background: url(../images/small_con.png) no-repeat -171px -198px;
}
#rwdt{
	width: 640px;
	height: 771px;
	background: url(../images/woderenwu.gif);
	margin: 0 auto;
	position: relative;
}
#rwdt .woderenwu{
	width: 551px;
	height: 86px;
	/*background: blue;*/
	position: absolute;
	left: 45px;
	top: 292px;
}
#rwdt .new_renwu{
	width: 551px;
	height: 86px;
	/*background: blue;*/
	position: absolute;
	left: 45px;
	top: 400px;
}
#shouye_bottom .renwu_botton{
	width: 102px;
	height: 79px;
	background: url(../images/small_con.png) no-repeat -198px -562px;
	display: block;
	position: absolute;
	left: 317px;
}
#shouye_bottom .renwu_more{
	width: 344px;
	height: 108px;
	display: block;
	background: url(../images/woderenwu_more.png);
	position: absolute;
	left: 194px;
	top: -109px;
	display: none;
}
#shouye_bottom .renwu_more .go_guangchang{
	width: 112px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 2px;
	top: 1px;
}
#shouye_bottom .renwu_more .go_shoucang{
	width: 112px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 114px;
	top: 1px;
}
#shouye_bottom .renwu_more .go_gerenziliao{
	width: 112px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 226px;
	top: 1px;
}
/*woderenwu.html结束*/
/*woderenwu2.html*/
#index_top2 .wdrw{
	background: url(../images/small_con.png) no-repeat 0px -614px;
}
#woderenwu_ct{
	width: 640px;
	height: 850px;
	background: url(../images/woderenwu_ct.gif);
	margin: 0 auto;
	position: relative;
}
#woderenwu_ct .caikan{
	width: 640px;
	height: 106px;
	/*background: blue;*/
	position: absolute;
}
#woderenwu_ct .owari{
	width: 640px;
	height: 106px;
	/*background: blue;*/
	position: absolute;
	left: 0px;
	top: 662px;
}
#woderenwu_ct .shibai{
	width: 640px;
	height: 106px;
	/*background: blue;*/
	position: absolute;
	left: 0px;
	top: 219px;
}
/*woderenwu2.html结束*/
/*woderenwu_shibai.html*/
#renwu_shibai_ct{
	width: 640px;
	height: 850px;
	background: url(../images/renwu_shibai.gif);
	margin: 0 auto;
	position: relative;
}
#renwu_shibai_ct .shibai_chakan{
	width: 94px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 313px;
	top: 337px;
}
#renwu_shibai_ct .shibai_tanchu{
	width: 394px;
	height: 271px;
	background: url(../images/shibai_tanchu.png);
	position: absolute;
	left: 12px;
	top: 420px;
	display: none;
}
/*woderenwu_shibai.html结束*/
/*woderenwu3.html*/
#woderenwu3_ct{
	width: 640px;
	height: 850px;
	background: url(../images/woderenwu3.gif);
	margin: 0 auto;
	position: relative;
}
#woderenwu3_ct .renwu_chakan{
	width: 94px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 316px;
	top: 116px;
}
#woderenwu3_ct .renwu_tanchukuang{
	width: 394px;
	height: 271px;
	background: url(../images/renwu_neirong.png);
	position: absolute;
	left: 12px;
	top: 195px;
	display: none;
}
/*woderenwu3.htm结束*/
/*woderenwu_wancheng.html*/
#wanchengye{
	width: 640px;
	height: 850px;
	background: url(../images/wancheng.gif);
	margin: 0 auto;
	position: relative;
}
#wanchengye .wancheng_botton{
	width: 94px;
	height: 92px;
	/*background: blue;*/
	position: absolute;
	left: 316px;
	top: 116px;
}
#wanchengye .wancheng_tanchu{
	width: 394px;
	height: 271px;
	background: url(../images/renwu_neirong.png);
	position: absolute;
	left: 12px;
	top: 195px;
	display: none;
}
/*woderenwu_wancheng.html结束*/
/*guangchang.html*/
#index_top2 .xinxiguangchang{
	background: url(../images/small_con.png) no-repeat -170px -235px;
}
#index_top2 .sosuo{
	width: 42px;
	height: 43px;
	background: url(../images/small_con.png) no-repeat -60px 0px;
	position: absolute;
	left: 578px;
	top: 13px;
}
#guangchang{
	width: 640px;
	height: 783px;
	background: url(../images/guangchang.gif);
	margin: 0 auto;
	position: relative;
}
#guangchang .hot{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 59px;
	top: 330px;
}
#guangchang .hot_pp{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 200px;
	top: 330px;
}
#guangchang .hot_huati{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 340px;
	top: 330px;
}
#guangchang .hot_leshi{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 481px;
	top: 330px;
}
#guangchang .hot_lexun{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 59px;
	top: 499px;
}
#guangchang .hot_renwu{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 200px;
	top: 499px;
}
#guangchang .near{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 340px;
	top: 499px;
}
#guangchang .zhoubian_lexun{
	width: 101px;
	height: 132px;
	/*background: blue;*/
	position: absolute;
	left: 481px;
	top: 499px;
}
/*guangchang.html结束*/
/*zhoubian_lexun.html*/
#zhoubian_lexun_ct{
	width: 640px;
	height: 850px;
	background: url(../images/zhoubian_lexun_ct.gif);
	margin: 0 auto;
}
/*zhoubian_lexun.html结束*/
/*remenderen.html*/
#index_top2 .hot_people{
	background: url(../images/small_con.png) no-repeat 0px -750px;
}
/*remenderen.html结束*/
/*wodequanzi_hot.html*/
#hot_quanzi{
	width: 640px;
	height: 783px;
	background: url(../images/quanzi_hot.gif);
	margin: 0 auto;
}
#index_top2 .remen_quanzi{
	background: url(../images/small_con.png) no-repeat -172px -277px;
}
/*wodequanzi_hot.html结束*/
/*zhoubianderen.html*/
#index_top2 .zbdr{
	background: url(../images/small_con.png) no-repeat 0px -503px;
}
#zhoubianderen{
	width: 640px;
	height: 850px;
	background: url(../images/zhoubianderen.gif);
	margin: 0 auto;
}
/*zhoubianderen.html结束*/
/*gerenziliao.html*/
#index_top2 .grzl{
	background: url(../images/small_con.png) no-repeat 0px -541px;
}
#grzl_ct{
	width: 640px;
	height: 850px;
	background: url(../images/gerenziliao.gif);
	margin: 0 auto;
	position: relative;
}
#grzl_ct .edit{
	width: 115px;
	height: 40px;
	/*background: blue;*/
	position: absolute;
	left: 506px;
	top: 19px;
}
/*gerenziliao.html结束*/
/*gerenziliao_edit.html*/
#index_top2 .return{
	width: 92px;
	height: 58px;
	background: url(../images/small_con.png) no-repeat -208px -502px;
	position: absolute;
	left: 12px;
	top: 6px;
}
#index_top2 .grzl_edit{
	width: 193px;
	height: 35px;
	background: url(../images/small_con.png) no-repeat 0px -578px;
	position: absolute;
	left: 224px;
	top: 20px;
}
#gerenziliao_ct{
	width: 640px;
	height: 850px;
	background: url(../images/gerenziliao_edit.gif);
	margin: 0 auto;
}
/*gerenziliao_edit.html结束*/
/*xitong_shezhi.html*/
#index_top2 .xitongshezhi{
	background: url(../images/small_con.png) no-repeat 0px -683px;
	width: 65px;
	height: 32px;
	position: absolute;
	left: 289px;
	top: 21px;
}
#xtsz{
	width: 640px;
	height: 850px;
	background: url(../images/xitongshezhi.gif);
	margin: 0 auto;
	position: relative;
}
#xtsz .system_out{
	width: 524px;
	height: 85px;
	/*background: blue;*/
	position: absolute;
	left: 58px;
	top: 687px;
}
/*xitong_shezhi.html结束*/
/*woderenwu_new.html*/
#index_top2 .woderenwu_new{
	background: url(../images/small_con.png) no-repeat 0px -648px;
}
#woderenwu_new{
	width: 640px;
	height: 850px;
	background: url(../images/woderenwu_new.gif);
	margin: 0 auto;
}
/*woderenwu_new.html结束*/
/*public*/
#index_top2 .sclsxx{
	width: 189px;
	height: 33px;
	background: url(../images/wenzi.png);
	position: absolute;
	left: 226px;
}
#index_top2 .woderenwu_hot{
	width: 128px;
	height: 33px;
	background: url(../images/wenzi.png) no-repeat 0px -37px;
}
#index_top2 .zb_lexun{
	background: url(../images/wenzi.png) no-repeat 0px -71px;
}
#index_top2 .remenleshi{
	background: url(../images/wenzi.png) no-repeat 0px -105px;
}
#index_top2 .remenhuati{
	background: url(../images/wenzi.png) no-repeat 0px -141px;
}
#index_top2 .remen_lexun{
	background: url(../images/wenzi.png) no-repeat 0px -176px;

}
/*public结束*/
/*各主体内容*/
#hot_leshi_ct{
	width: 640px;
	height: 850px;
	background: url(../images/hot_leshi_ct.gif);
	margin: 0 auto;
}
#remenhuati_ct{
	width: 640px;
	height: 850px;
	background: url(../images/remenhuati_ct.gif);
	margin: 0 auto;
}
#remenlexun_ct{
	width: 640px;
	height: 850px;
	background: url(../images/remen_lexun.gif);
	margin: 0 auto;
}
/*各主体内容结束*/